

	/*header styles */

#header {

	width: 100%;
	background-color: white;
	color: #A2A2A2;
	margin-bottom: -10px;
	border-bottom: 1px solid lightgrey;
	height: 55px;

}

#header ul li {
	list-style-type: none;
	font-family: Georgia;
	font-size: .8em;
	font-weight: bold;
	display: inline-block;

}

#logo {
	float: left;

}

#logo img {
	width: 35px;
	float: left;

}


#search {
	width: 50%;
	float: left;
	margin-left: 200px;
	padding-top: 10px;

}

#searchBox {
	width: 130%;
	height: 25px;
	border-radius: 8px;
	padding: 10px;
	background-color: #E7E7E7;
	margin: -190px;
	border: 0px;
}

#navigation {
	float: right;
	margin-top: 3px;
	margin-right: 15px; 

}

#navigation a {
	color: #ABABAB;
	text-decoration: none;
	font-size: 1.9em;
	margin-left: 30px;

}

#navigation a:hover {
	color: #5f5f5f;

}


#wrapper {
	width: 90%;
	max-width: 1100%;
	/*for a fixed screeen*/
	min-width: 800px;
	margin: 50px auto;
	/*auto centers everyting */

}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;

	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;

	column-count: 3;
	column-gap: 10px;
	column-fill: auto;

}

.pin {
	display: inline-block;
	background: #fefefe;
	border: 2px solid #fafafa;
	/*rgba gives transparancy*/
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0px 2px 13px 0px;
	-webkit-column-break-inside: auto;
	-moz-column-break-inside: auto;
	column-break-inside: avoid;
	padding: 15px 15px 5px 15px;
	background: -webkit-linear-gradient(45deg, white, lightgrey);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	/*looks like the <hr> tag*/
	padding-bottom: 15px;
	margin-bottom: 5px;

}

.pin p {
	font: 12px/16px Arial, san-serif;
	color: #333;
	margin: 0;

}

.pin:hover {
	border-radius: 20px;
	cursor: pointer;
}